velero:
  restore: false
  version: 1

google:
  serviceAccountJson: changeme

nas:
  credentialsName: nas-credentials
  ipAddress: 192.168.0.31
  username: docker_containers
  password: changeme
  shareName: Homelab

storageClasses:
  - name: nas
    mode: 777
    uid: 1000
  - name: postgresql
    mode: 700
    uid: 26

blueskyPds:
  jwtSecret: changeme
  adminPassword: changeme
  plcRotationKey: changeme
  emailSmtpUrl: changeme

infisical:
  encryptionKey: changeme
  authSecret: changeme

tandoor:
  secretKey: changeme

externalApplications:
  - name: iMessage
    description: Messaging for iPhone users
    icon: apple.png
    group: Services
    listenToHost: imessage.test.pitlor.dev
    forwardToIp: 192.168.0.165
    forwardToPort: 1234
  - name: HomeAssistant
    description: Smart home management
    icon: home-assistant.png
    group: Apps
    listenToHost: iot.test.pitlor.dev
    forwardToIp: 192.168.0.6
    forwardToPort: 8123

applications:
  - name: grafana
    version: 10.1.0
    repository: https://grafana.github.io/helm-charts
    enabled: true
  - name: alloy
    version: 1.3.0
    repository: https://grafana.github.io/helm-charts
    enabled: true
  - name: loki
    version: 6.42.0
    repository: https://grafana.github.io/helm-charts
    enabled: true
  - name: prometheus
    version: 27.40.0
    repository: https://prometheus-community.github.io/helm-charts
    enabled: true
  - name: bluesky-pds
    version: 0.4.0
    repository: https://charts.nerkho.ch
    enabled: true
  - name: infisical-standalone
    version: 1.7.1
    repository: https://dl.cloudsmith.io/public/infisical/helm-charts/helm/charts/
    enabled: true
  - name: minecraft
    version: 5.0.0
    repository: https://itzg.github.io/minecraft-server-charts/
    enabled: false
  - name: homepage
    repository: https://jameswynn.github.io/helm-charts
    version: 2.1.0
    enabled: true
  - name: gitea
    repository: https://dl.gitea.io/charts
    version: 12.4.0
    enabled: true
  - name: vaultwarden
    version: 0.34.4
    repository: https://guerzon.github.io/vaultwarden
    enabled: true
  - name: immich
    version: 0.10.3
    repository: https://immich-app.github.io/immich-charts
    enabled: true
  - name: tandoor
    version: 0.9.9
    repository: https://charts.gabe565.com
    enabled: true
  - name: nextcloud
    version: 8.4.1
    repository: https://nextcloud.github.io/helm/
    enabled: true
  - name: plex-media-server
    version: 1.1.3
    repository: https://raw.githubusercontent.com/plexinc/pms-docker/gh-pages
    enabled: true

# This has to be broken into an object to make disaster recovery easier - helm doesn't let you
# override array items.
postgres:
  grafana:
    backupId: "2025-04-08"
  vaultwarden:
    backupId: "2025-04-08"
  immich:
    backupId: "2025-04-08"
    imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16.9-0.4.3
    sharedPreloadLibraries:
      - "vchord.so"
    postInitSQL:
      - CREATE EXTENSION vchord CASCADE;
      - CREATE EXTENSION earthdistance CASCADE;
  tandoor:
    backupId: "2025-04-08"
  nextcloud:
    backupId: "2025-04-08"
  guacamole:
    appName: "guacamole"
    backupId: "2025-04-08"
    postInitApplicationSQLRefs:
      - name: postgres-init
        key: guacamole
  