apiVersion: v1
kind: Secret
metadata:
  name: infisical-secrets
  namespace: infisical-standalone
type: Opaque
stringData:
  AUTH_SECRET: {{ .Values.infisical.authSecret | required "No auth secret provided" | quote }}
  ENCRYPTION_KEY: {{ .Values.infisical.encryptionKey | required "No encryption key provided" | quote }}
  SITE_URL: "https://vault.test.pitlor.dev"
  DB_CONNECTION_URI: postgresql://infisical:infisical@{{ template "dev.pitlor.homelab.postgres-name" (list . "infisical") }}
