{{- range .Values.applications }}
{{- if .enabled -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .name }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: {{ .name | trunc 5 }}-{{ $.Release.Name | trunc 5 }}
  namespace: homelab
spec:
  repo: {{ .repository }}
  chart: {{ .name }}
  targetNamespace: {{ .name }}
  timeout: 10m
  {{- if $.Files.Get (printf "files/values/%s.yaml" .name) }}
  valuesContent: |-
{{ tpl ($.Files.Get (printf "files/values/%s.yaml" .name)) $ | indent 4 }}
  {{- end }}
---
{{- $name := .name -}}
{{- with index $.Values.postgres .name }}
{{- if . -}}
{{- template "dev.pitlor.homelab.postgres" (list $ (set . "appName" $name)) }}
{{- end }}
{{- end }}
---
{{ end }}
{{ end }}